@import "../../global.scss";

.topbar{
    width: 100%;
    height: 70px;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #10121b 100%);
    color: white;
    position:fixed;
    top: 0;
    z-index: 3;
    transition: all 2s ease;
    .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        .left{
            display: flex;
            align-items: center;
            justify-content: center;
            .logo{
                @include mobile{
                    font-size: 22px;
                }
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                margin-right: 40px;
             }
             .itemContainer{
                 display: flex;
                 flex-direction: row;
                 align-items: center;
                 @include mobile{
                     display: none;
                 }
                 .icon{
                     display: flex;
                     flex-direction: row;
                     cursor: pointer;
                     &.git{
                         width: 5%;
                         height: 5%;
                     }
                     &.linkedIn{
                         margin-left: 20px;
                         width: 6.5%;
                         height: 6.5%;
                     }
                 }
                 span{
                     font-size: 15px;
                     font-weight: 600;
                 }
             }
            }
        .right{
            ul{
                display: flex;
                text-decoration: none;
                li{
                    a{
                        display: flex;
                        font-size: 25px;
                        margin-right: 20px;
                        text-decoration: none;
                        color: white;
                    }
                }
            }
            .hamburger{
                width: 32px;
                height: 26px;
                display: none;
                flex-direction: column;
                cursor: pointer;
                align-items: center;
                justify-content: space-between;
                transform-origin: left;
                @include mobile{
                    display: flex;
                }
                span{
                    width: 85%;
                    height: 3px;
                    background-color: white;
                    transform-origin: center;
                    transition: all 2s ease;
                }
                
            }
        }
    }
    &.active{
        background-color: $mainColor;
        color: white;

        .hamburger{
            span{
                width: 100%;
                &:first-child{
                    background-color: white;
                    -webkit-transform: translateY(11.9px) rotate(45deg);
                    -ms-transform: translateY(11.9px) rotate(45deg);
                    -o-transform: translateY(11.9px) rotate(45deg);
                    transform: translateY(11.9px) rotate(45deg);
                }
                &:nth-child(2){
                    background-color: white;
                    transform: translateX(-45px) rotate(0deg);
                    opacity: 0;
                }
                &:last-child{
                    background-color: white;
                    -webkit-transform: translateY(-11.2px) rotate(-45deg);
                    -ms-transform: translateY(-11.2px) rotate(-45deg);
                    -o-transform: translateY(-11.2px) rotate(-45deg);
                    transform: translateY(-11.2px) rotate(-45deg);

                }
            }
        }
    }
}