@import "../../global.scss";

.portfolio{
    background: $background;
    display: flex;
    flex-direction: column;
    position: relative;
    a{
        color: black;
        position: absolute;
        bottom: 0;
        .icon{
            font-size: 60px;
            animation: arrowBlink 1.5s infinite;
            }

            @keyframes arrowBlink {
                100%{
                opacity: 0;
                }
        }
    }
    h2{
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        font-size: 42px;
        height: 10%;
        color: white;

        @include mobile{
            font-size: 20px;
            height: 7%;
        }
    }
    ul{
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10%;
        @include mobile{
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
        }
        li{
            font-size: 14px;
            padding: 7px;
            border-radius: 10px;
            box-sizing: border-box;
            cursor: pointer;
            color: $mainText;
            @include mobile{
                font-size: 12px;
                margin: 0;
            }

            &.active{
                background-color:white;
                color: $mainText;
            }
        }
        
    }
    
 
    .container{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @include mobile{
            width: 100%;
            flex-wrap: nowrap;
            flex-direction: column;
        }

        .item{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25%;
            border-radius: 20px;
            border: 1px solid rgb(230, 230, 230);
            margin: 10px 20px;
            color: white;
            position: relative;
            transition: all 1s ease;
            flex-direction: row;
            position: relative;
            .smallContain{
                display: flex;
                .git{
                    display: none;
                }
                .live{
                    display: none;
                }
            }
            @include mobile{
                display: flex;
                flex-direction: column;
                width: 70%;
            }
            
            h3{
                display: flex;
                justify-content: center;
                position: absolute;
                font-size: 20px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
            a {
                z-index: 1;
            }

            &:hover{
                background-color: $mainColor;
                display: flex;
                flex-direction: column;
                h3{
                    display: flex;
                    position: absolute;
                    top: 25%;
                    @include mobile{
                        display: none;
                        font-size: 15px;
                    }
                }
                .smallContain{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                    position: absolute;
                    @include mobile{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .git{
                            display: none;
                        }
                    }

                    >*{
                        display: flex;
                        padding: 5px;
                        margin: 5px;
                        justify-content: center;
                        align-items: center;
                        border: solid white 2px;
                        border-radius: 8px;
                        cursor: pointer;
                        &:hover{
                            background-color: white;
                            color: $mainColor;
                        }
                    }
                }   
                img{
                    z-index: 0;
                    opacity: 0;
                    
                }
            }
        }
    }
}