@import "../../global.scss";

.portfolioList{
    font-size: 14px;
    margin: 5px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    @include mobile{
        margin-right: 0;
    }

    &.active{
        background-color: white;
        color: black;
    }
}