@import "../../global.scss";

.contact{
    background-color: $hardBackground;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    @include mobile{
        flex-direction: column;
    }
    .left{
        flex: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        border-right: $innerBorder;
        @include mobile{
            border-right: none;
            height: 50%;
        }
        .icon{
            height: 70%;
            width: 70%;
            @include mobile{
                height: 70%;
                width: 70%;
            }
            
        }
    }
    .right{
        flex: 0.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include mobile{
            height: 100%;
            width: 100%;
        }

        h2{
            font-size: 30px;
            @include mobile{
                font-size: 25px;
                height: 30%;
            }
        }
        form{
            @include mobile{
                width: 100%;
                height: 90%;
            }
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 5px;
            input{
                width: 400px;
                height: 30px;
                font-size: 14px;
                margin: 5px;
                @include mobile{
                    width: 80%;
                    margin: 5px;
                }
            }
            textarea{
                width: 400px;
                height: 200px;
                font-size: 14px;
                resize: none;
                margin: 5px;
                @include mobile{
                    width: 80%;
                    margin: 5px 0 0 0;
                }
            }
            button{
                width: 200px;
                height: 30px;
                color:white;
                background-color: crimson;
                border: none;
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;
                margin: 5px;
                @include mobile{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 30%;
                    margin: 5px;
                }
            }
            span{
                color: green;
            }
        }
    }
}