@import "../../global.scss";

.testimonials{
    background-color: $hardBackground;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
        @include mobile{
            display: none;
        }
        color: black;
        position: absolute;
        bottom: 0;
        .icon{
            font-size: 60px;
            animation: arrowBlink 1.5s infinite;
            }

            @keyframes arrowBlink {
                100%{
                opacity: 0;
                }
        }
    }

    .arrow{
        height: 100px;
        position: absolute;
        cursor: pointer;
        @include mobile{
            display: none;
        }
        &.Left{
            left: 50px;
        }
        &.Right{
            right: 50px;
        }
    }

    .slider{
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease;
 

        @include mobile{
            height: 100%;
            flex-direction: column;
            justify-content: center;
        }

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            @include mobile{
                height: 100vh;
            }

            .item{
                width: $cWidth;
                height: $cHeight;
                background-color: $softBackground;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                margin: 10px;
                border: $outerBorder;
                box-sizing: border-box;

                @include mobile{
                    width: 80%;
                    height: 90%;
                    margin: 5px 0;
                    padding: 5px;
                    flex-direction: column;
                }

                .left{
                    flex: 4;
                    height: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-right: $innerBorder;
                    @include mobile{
                        border-right: none;
                        width: 100%;
                        height: 100%;
                    }
                    .leftContainer{
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        @include mobile{
                            width: 100%;
                            height: 100%;
                        }

                        .imgContainer{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: rgb(253, 208, 192);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @include mobile{
                                display: none;
                                border-radius: none;
                            }
                            img{
                                width: 25px;
                            }
                        }
                        h2{
                            font-size: 20px;
                        }
                        p{
                            font-size: 18px;
                            @include mobile{
                                font-size: 10px;
                            }
                        }
                        span{
                            display: flex;
                            width: 100%;
                            .iconLink{
                                padding: 5px;
                                cursor: pointer;
                                @include mobile{
                                    padding: 0;
                                    height: 80%;
                                }
                            }
                        }
                    }
                }
                .right{
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    @include mobile{
                        display: none;
                        flex: none;
                    }

                    img{
                        width: 40vw;
                    }
                }
            }
        }
    }
}