.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        scrollbar-width: none;
        &::-webkit-scrollbar{
           display: none;
        }

        > *{
           width: 100vw;
           min-height: calc(100vh - 70px);
        }
    }
}