$mainColor: #191919;
$hardBackground: #b1a7a5;
$softBackground: #e5e5e5;
$mainText: #ea3057;
$outerBorder: solid white 15px;
$cHeight: 70vh;
$cWidth: 80%;
$innerBorder: solid white 2px;
$mobileBorder: solid white 3px;

/* #b1a7a5 */

$width: 1000px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}