@import "../../global.scss";

.aboutMe{
    background-color: $hardBackground;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
        color: black;
        position: absolute;
        bottom: 0;
        .icon{
            font-size: 60px;
            animation: arrowBlink 1.5s infinite;
            }

            @keyframes arrowBlink {
                100%{
                opacity: 0;
                }
        }
    }
    .container{
        height: $cHeight;
        width: $cWidth;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        .bottom{
            background-color: $softBackground;
            height: 100%;
            display: flex;
            border: $outerBorder;
            box-sizing: border-box;
            flex-direction: row;
            @include mobile{
                flex-direction: column;
            }
            .bottomleft{
                display: flex;
                flex: 0.5;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-size: 42px;
                padding: 0;
                @include mobile{
                    font-size: 24px;
                    flex-direction: column;
                }
                .right{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    height: 80%;
                    width: 90%;
                    font-size: 42px;
                    @include mobile{
                        border-bottom: $innerBorder;
                    }
                    ul{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        position: relative;
                        width: 100%;
                        padding-left: 0;
                        li{
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            padding: 25px 0;
                            font-size: 0.6em;
                            @include mobile{
                                font-size: 14px;
                                justify-content: space-between;
                                padding: 5px;
                            }
                        }
                    }
                }
            }
            .bottomright{
                display: flex;
                padding: 0;
                flex: 0.5;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                position: relative;
                font-size: 42px;
                @include mobile{
                    height: 100%;
                    padding: 0;
                    justify-content: start;
                    font-size: 24px;
                }
                .border{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 80%;
                    border-left: $innerBorder;
                    @include mobile{
                        border-left: none;
                    }

                .topbottomright{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 42px;
                    @include mobile{
                        font-size: 18px;
                        padding: 15px;
                    }
                    .logoIcon{
                        width: 80%;
                        height: 80%;
                        @include mobile{
                            width: 45%;
                            display: none;
                        }
                    }
                }
                .botbottomright{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50%;
                    width: 75%;
                    font-size: 20px;
                    flex-wrap: wrap;
                    @include mobile{
                        font-size: 10px;
                        flex-wrap: wrap;
                        height: 90%;
                        width: 100%;
                    }
                    > *{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        height: 30%;
                        width: 30%;
                        padding: 4px;
                        @include mobile{
                            height: 35%;
                            flex-wrap: nowrap;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
        }
    }
}